<%-include ('partials/_header', {active: "clientes"}); %>
<div class="container">
  <div class="row row-no-margin my-4">
    <!--title page-->
    <h2 class="text-primary-blue">
      Clientes Registrados
    </h2>
    <!--//title page-->
  </div>
  <div class="row filter-tools my-4 row-no-margin">
    <!--search-->
    <!--input movies-->
    <div class="input-group w-50">
      <input
        type="text"
        class="form-control d-inline  text-center"
        placeholder="Ingrese el nombre de la pelicula o actor"
      />
      <!--//input movies-->
      <!--btn search-->
      <button class="btn btn-primary input-group-append">
        <i class="fas fa-search"></i>
      </button>
      <!--//btn search-->
    </div>
    <!--//search-->
  </div>
</div>
<!--table-->
<div class="table-responsive px-3">
  <table class="table table-hover">
    <thead class="thead-blue">
      <tr class="text-white text-center">
        <th scope="col">Codigo</th>
        <th scope="col">Apellido P</th>
        <th scope="col">Apellido M</th>
        <th scope="col">Nombre</th>
        <th scope="col">Telefono</th>
        <th scope="col">Correo</th>
        <th scope="col">Fecha de Nacimiento</th>
        <th scope="col">Direccion</th>
        <th scope="col">Fecha Registro</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
      <% if(data){ %> <% for (var i=0 ; i< data.length ; i++){ %>
      <tr>
        <td><%= data[i].id_client %></td>
        <td><%= data[i].fathers_last_name %></td>
        <td><%= data[i].mothers_last_name %></td>
        <td><%= data[i].first_name %></td>
        <td><%= data[i].cellphone_number %></td>
        <td><%= data[i].mail %></td>
        <td><%= data[i].date_of_birth %></td>
        <td><%= data[i].address %></td>
        <td><%= data[i].registation_date %></td>
        <td>
          <a
            href="/update/<%= data[i].id %>"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#editCliente"
            >Editar</a
          >
        </td>
      </tr>
      <% } %> <% } %>
    </tbody>
  </table>
  <!--//table-->
</div>
<div class="container mb-5">
  <div class="row row-no-margin">
    <button
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#addCliente"
    >
      Agregar Clientes<i class="fas fa-plus ml-2"></i>
    </button>
  </div>
</div>

<!--Modals-->
<!--agregar cliente modal-->
<div class="modal fade" id="addCliente" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title ">Agregar Clientes</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <!--Codigo-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Codigo de Cliente :
              </div></label
            >
            <input
              type="number"
              class="form-control text-center col-6"
              id="codigoRenta"
              placeholder="Codigo"
            />
          </div>
          <!--//Codigo-->
          <!--Nombre-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Nombre :
              </div></label
            >
            <input
              type="text"
              class="form-control text-center col-6"
              id="nombre"
              placeholder="Nombre"
            />
          </div>
          <!--//Nombre-->
          <!--Apellido P-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Apellido Paterno :
              </div></label
            >
            <input
              type="text"
              class="form-control text-center col-6"
              id="apellidoPaterno"
              placeholder="Apellido Paterno"
            />
          </div>
          <!--//Apellido P-->
          <!--Apellido M-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Apellido Materno :
              </div></label
            >
            <input
              type="text"
              class="form-control text-center col-6"
              id="apellidoMaterno"
              placeholder="Apellido Materno"
            />
          </div>
          <!--//Apellido M-->
          <!--Carnet ID-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Carnet :
              </div></label
            >
            <input
              type="text"
              class="form-control text-center col-6"
              id="carnetId"
              placeholder="Carnet ID"
            />
          </div>
          <!--//Apellido Materno-->
          <!--Telefono-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Telefono :
              </div></label
            >
            <input
              type="number"
              class="form-control text-center col-6"
              id="Telefono"
              placeholder="Telefono"
            />
          </div>
          <!--//Telefono-->
          <!--Correo-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Correo :
              </div></label
            >
            <input
              type="email"
              class="form-control text-center col-6"
              id="Correo"
              placeholder="Correo"
            />
          </div>
          <!--//Correo-->
          <!--Fecha de nacimiento-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Fecha de nacimiento :
              </div></label
            >
            <input
              type="number"
              class="form-control text-center col-6"
              id="fecha_nacimiento"
              placeholder="Fecha de Nacimiento"
            />
          </div>
          <!--//Fecha de nacimiento-->
          <!--Direccion-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Direccion :
              </div></label
            >
            <input
              type="text"
              class="form-control text-center col-6"
              id="direccion"
              placeholder="Direccion"
            />
          </div>
          <!--//Direccion-->
          <!--Longitud-->
          <div class="form-group row row-no-margin mt-3">
            <label for="longitud" class="col"
              ><div class="text-center center">
                Longitud :
              </div></label
            >
            <input
              type="text"
              class="form-control text-center col-6"
              id="longitud"
              placeholder="Longitud"
            />
          </div>
          <!--//Longitud-->
          <!--Latitud-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Latitud :
              </div></label
            >
            <input
              type="text"
              class="form-control text-center col-6"
              id="latitud"
              placeholder="latitud"
            />
          </div>
          <!--//Latitud-->
          <!--Fecha Registro-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Fecha Registro :
              </div></label
            >
            <input
              type="text"
              class="form-control text-center col-6"
              id="fechaRegistro"
              placeholder="Fecha Registro"
            />
          </div>
          <!--//Fecha Registro-->
          <!--Habilitacion-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Habilitado :
              </div></label
            >
            <div class="form-check col-3">
              <label class="form-check-label ">
                <input
                  type="radio"
                  class="form-check-input "
                  name="optradio"
                />Si
              </label>
            </div>
            <div class="form-check col-3">
              <label class="form-check-label">
                <input
                  type="radio"
                  class="form-check-input"
                  name="optradio"
                />No
              </label>
            </div>
          </div>
          <!--//Habilitacion-->
          <!--Nombre para la factura-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Nombre para la factura :
              </div></label
            >
            <input
              type="text"
              class="form-control text-center col-6"
              id="nombre_factura"
              placeholder="Nombre para la factura"
            />
          </div>
          <!--//Nombre para la factura-->
          <!--Nit-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Nit :
              </div></label
            >
            <input
              type="text"
              class="form-control text-center col-6"
              id="Nit"
              placeholder="Nit"
            />
          </div>
          <!--//Nit-->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Guardar Cliente<i class="fas fa-check ml-2"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<!--//agregar cliente modal-->
<!----------------------------editar cleinte modal------------------------>
<div class="modal fade" id="editCliente" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title ">Editar Cliente</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <!--Codigo-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Codigo de Cliente :
              </div></label
            >
            <input
              type="number"
              class="form-control text-center col-6"
              id="codigoRenta"
              placeholder="Codigo"
            />
          </div>
          <!--//Codigo-->
          <!--Nombre-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Nombre :
              </div></label
            >
            <input
              type="text"
              class="form-control text-center col-6"
              id="nombre"
              placeholder="Nombre"
            />
          </div>
          <!--//Nombre-->
          <!--Apellido P-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Apellido Paterno :
              </div></label
            >
            <input
              type="text"
              class="form-control text-center col-6"
              id="apellidoPaterno"
              placeholder="Apellido Paterno"
            />
          </div>
          <!--//Apellido P-->
          <!--Apellido M-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Apellido Materno :
              </div></label
            >
            <input
              type="text"
              class="form-control text-center col-6"
              id="apellidoMaterno"
              placeholder="Apellido Materno"
            />
          </div>
          <!--//Apellido M-->
          <!--Carnet ID-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Carnet :
              </div></label
            >
            <input
              type="text"
              class="form-control text-center col-6"
              id="carnetId"
              placeholder="Carnet ID"
            />
          </div>
          <!--//Apellido Materno-->
          <!--Telefono-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Telefono :
              </div></label
            >
            <input
              type="number"
              class="form-control text-center col-6"
              id="Telefono"
              placeholder="Telefono"
            />
          </div>
          <!--//Telefono-->
          <!--Correo-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Correo :
              </div></label
            >
            <input
              type="email"
              class="form-control text-center col-6"
              id="Correo"
              placeholder="Correo"
            />
          </div>
          <!--//Correo-->
          <!--Fecha de nacimiento-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Fecha de nacimiento :
              </div></label
            >
            <input
              type="number"
              class="form-control text-center col-6"
              id="fecha_nacimiento"
              placeholder="Fecha de Nacimiento"
            />
          </div>
          <!--//Fecha de nacimiento-->
          <!--Direccion-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Direccion :
              </div></label
            >
            <input
              type="text"
              class="form-control text-center col-6"
              id="direccion"
              placeholder="Direccion"
            />
          </div>
          <!--//Direccion-->
          <!--Longitud-->
          <div class="form-group row row-no-margin mt-3">
            <label for="longitud" class="col"
              ><div class="text-center center">
                Longitud :
              </div></label
            >
            <input
              type="text"
              class="form-control text-center col-6"
              id="longitud"
              placeholder="Longitud"
            />
          </div>
          <!--//Longitud-->
          <!--Latitud-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Latitud :
              </div></label
            >
            <input
              type="text"
              class="form-control text-center col-6"
              id="latitud"
              placeholder="latitud"
            />
          </div>
          <!--//Latitud-->
          <!--Fecha Registro-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Fecha Registro :
              </div></label
            >
            <input
              type="text"
              class="form-control text-center col-6"
              id="fechaRegistro"
              placeholder="Fecha Registro"
            />
          </div>
          <!--//Fecha Registro-->
          <!--Habilitacion-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Habilitado :
              </div></label
            >
            <div class="form-check col-3">
              <label class="form-check-label ">
                <input
                  type="radio"
                  class="form-check-input "
                  name="optradio"
                />Si
              </label>
            </div>
            <div class="form-check col-3">
              <label class="form-check-label">
                <input
                  type="radio"
                  class="form-check-input"
                  name="optradio"
                />No
              </label>
            </div>
          </div>
          <!--//Habilitacion-->
          <!--Nombre para la factura-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Nombre para la factura :
              </div></label
            >
            <input
              type="text"
              class="form-control text-center col-6"
              id="nombre_factura"
              placeholder="Nombre para la factura"
            />
          </div>
          <!--//Nombre para la factura-->
          <!--Nit-->
          <div class="form-group row row-no-margin mt-3">
            <label for="codigoRenta" class="col"
              ><div class="text-center center">
                Nit :
              </div></label
            >
            <input
              type="text"
              class="form-control text-center col-6"
              id="Nit"
              placeholder="Nit"
            />
          </div>
          <!--//Nit-->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Guardar Datos Editados<i class="fas fa-check ml-2"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<!--//editar cleinte modal-->

<!--//modals-->
<%-include ('partials/_footer')%>
