<%-include ('partials/_header', {active: "prestamos"}); %> <%var videoList = new
Array();%>
<div class="container ">
  <div class="row row-no-margin my-4">
    <!--title page-->
    <h2 class="text-primary-blue">
      Catalogo de Peliculas Disponibles
    </h2>
    <!--//title page-->
    <!--cart icon-->
    <% var cont=0; %>
    <a href="/prestamos/carrito" class="cart ml-auto">
      <i class="fas fa-shopping-cart fa-3x "></i>
      <h1 class="d-inline ml-3"><%=videoList.length;%></h1>
    </a>
    <!--//cart icon-->
  </div>

  <div class="row filter-tools my-4 row-no-margin">
    <form action="/prestamos/searchWord" method="post" class="input-group w-50">
      <!--search-->
      <!--input movies-->
      <input
        type="text"
        class="form-control d-inline  text-center"
        name="word"
        placeholder="Ingrese el nombre de la pelicula o actor"
      />
      <!--//input movies-->
      <!--btn search-->
      <button class="btn btn-primary input-group-append">
        <i class="fas fa-search"></i>
      </button>
      <!--//btn search-->

      <!--//search-->
    </form>

    <!--dropwdown genero-->
    <div class="dropdown ml-3">
      <!--dropdown principal-->
      <a
        class="btn dropdown-toggle"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Genero
      </a>
      <!--//dropdown principal-->
      <!--drop item-->
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item">Comedia</a>
        <a class="dropdown-item">Drama</a>
        <a class="dropdown-item">Thriler</a>
        <a class="dropdown-item">Terror</a>
        <a class="dropdown-item">Ciencia Ficcion</a>
        <a class="dropdown-item">Accion</a>
        <a class="dropdown-item">Aventura</a>
        <a class="dropdown-item">Musicales</a>
        <a class="dropdown-item">Belicas</a>
        <a class="dropdown-item">Peliculas del oeste</a>
        <a class="dropdown-item">Comedia</a>
        <a class="dropdown-item">Suspenso</a>
        <a class="dropdown-item">Superheroes</a>
      </div>
      <!--//drop item-->
    </div>
    <!--//dropwdown genero-->
    <!--dropwdown oscar prize's-->
    <div class="dropdown ml-3">
      <!--dropdown principal-->
      <a
        class="btn dropdown-toggle"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Premios Oscar's
      </a>
      <!--//dropdown principal-->
      <!--drop item-->
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item">Mejor Película</a>
        <a class="dropdown-item">Mejor Pelicula Internacional</a>
        <a class="dropdown-item">Mejor Director</a>
        <a class="dropdown-item">Mejor Actor</a>
        <a class="dropdown-item">Mejor Actriz</a>
        <a class="dropdown-item">Mejor Actor de Reparto</a>
        <a class="dropdown-item">Mejor Actriz de Reparto</a>
        <a class="dropdown-item">Mejor Fotografia</a>
        <a class="dropdown-item">Mejor Banda Sonora</a>
        <a class="dropdown-item">Mejores Efectos especiales</a>
        <a class="dropdown-item">Mejor Vestuario</a>
      </div>
      <!--//drop item-->
    </div>
    <!--//dropwdown oscar prize's-->
  </div>
  <!--table-->
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-blue">
        <tr class="text-white text-center">
          <th scope="col">Codigo</th>
          <th scope="col">Nombre de Pelicula</th>
          <th scope="col">Genero</th>
          <th scope="col">Actores/Actrices</th>
          <!--<th scope="col">Nom. al Oscar</th>-->
          <!--<th scope="col">Fecha de Registro</th>-->
          <th scope="col">Disponibles</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Añadir</th>
        </tr>
      </thead>
      <tbody>
        <% if(data){ %> <% for (var i=0 ; i< data.length ; i++){ %>
        <tr class="text-center">
          <td><%= data[i].id_video %></td>
          <td><%= data[i].video_title %></td>
          <td><%= data[i].genre %></td>
          <td><%= data[i].first_name +' '+data[i].last_name %></td>
          <td><%= data[i].stock %></td>
          <td><input type="number" class="form-control" min ="1" max ="<%=data[i].stock%>" value ="1" /></td>
          <td>
            <a class="btn bg-primary-blue text-light" href="/prestamos/agregar_carrito/<%=data[i].id_video%>">Añadir</a>
          </td>
        </tr>
        <% } %> <% } %>
      </tbody>
    </table>
    <!--//table-->
  </div>
</div>
<%-include ('partials/_footer')%>
