<%-include ('partials/_header', {active: "prestamos"}); %> <% var sum =0;%> <%
let date_ob = new Date();%> <%let date = ("0" + date_ob.getDate()).slice(-2);%>
<%let month = ("0" + (date_ob.getMonth() + 1)).slice(-2);%> <%let year =
date_ob.getFullYear();%>
<div class="container">
  <div class="row row-no-margin my-4">
    <!--title page-->
    <h2 class="text-primary-blue">
      Detalles de Pedido
    </h2>
    <!--//title page-->
    <!--cart icon-->
    <a href="#" class="cart ml-auto">
      <i class="fas fa-shopping-cart fa-3x "></i>
      <h1 class="d-inline ml-3"><%=data.length%></h1>
    </a>
    <!--//cart icon-->
  </div>
  <div class="row">
    <div class="col-md-8">
      <!--table-->
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-blue">
            <tr class="text-white text-center">
              <th scope="col">Codigo</th>
              <th scope="col">Nombre de Pelicula</th>
              <th scope="col">Género</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <% if(data){ %> <% for (var i=0 ; i< data.length ; i++){ %>
            <tr class="text-center">
              <td><%= data[i].id_video %></td>
              <td><%= data[i].video_title %></td>
              <td><%= data[i].genre %></td>
              <%=sum+=data[i].unit_cost%>
              <td>
                <a
                  class="btn btn-danger text-light"
                  href="/prestamos/carrito/eliminar/<%= data[i].id_video %>"
                  >Eliminar</a
                >
              </td>
            </tr>
            <% } %> <% } %>
          </tbody>
        </table>
      </div>
      <!--//table-->
    </div>
    <div class="col">
      <form action="/prestamos/carrito/factura" method="POST">
        <div class="row">
          <div class="col-md-6">
            <p>Días de prestamo</p>
            <input
              id="days_of_loan"
              type="number"
              class="form-control text-center"
              value="<%=data2[0].time_rate%>"
              name="d_loan"
              min="<%=data2[0].time_rate%>"
              max="<%=data2[4].time_rate%>"
            />
            <button class="btn bg-primary-blue text-light mt-3">
              Calcular Total<i class="fas fa-chevron-right ml-2"></i>
            </button>
          </div>
          <div class="col-md-6 "></div>
        </div>
        <h3 class="my-3">Precio del producto : <%=sum%> Bs</h3>
        <!-- <div class="row">
          <input type="submit" class="btn bg-primary-blue text-light mx-auto" />
          Procesar Pedido<i class="fas fa-chevron-right ml-2"></i>
        </div> -->
      </form>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-md-3">
      <p>Nombre</p>
      <input
        type="text"
        class="form-control text-center"
        id="userNit"
        placeholder="Nombre Factura"
        name="nit"
      />
    </div>

    <div class="col-md-3">
      <p>Número de NIT</p>
      <input
        type="number"
        class="form-control text-center"
        id="userNit"
        placeholder="Nit"
        name="nit"
      />
    </div>
  </div>
  <div class="row">
    <a href="/prestamos" class="btn bg-secondary text-light ml-3"
      ><i class="fas fa-chevron-left mr-2"></i> Atras</a
    >
    <a href="/prestamos/carrito/factura" class="btn bg-primary-blue  text-light ml-3"
      > Procesar Pedido<i class="fas fa-chevron-right mr-2"></i></a
    >
  </div>
</div>
<%-include ('partials/_footer')%>
